<div class='well' ng-repeat="(i, blog) in allBlogs">
<h1> {{blog.title}}
<div ng-if="isAuthenticated">
<i class='star glyphicon glyphicon-star' ng-if="isFavBlog(i)" ng-click="toggleFav(i)"></i>
<i class='star glyphicon glyphicon-star-empty' ng-if="!isFavBlog(i)" ng-click="toggleFav(i)"></i>
</div>
</h1><p class='lead'>by <a href='#'>{{blog.userName}}</a></p>
<p ng-if="blog.tags">
 <span class='label label-info' ng-repeat="tag in blog.tags" style='margin:2px'>{{tag}}</span>
</p>

<hr><p><span class='glyphicon glyphicon-time'></span> Posted on {{blog.createdDate | date:'MMMM dd, yyyy @ hh:mm a'}}</p><hr>
<p class='lead'><div style='white-space:pre-wrap'>{{blog.content}}</div></p>

<div ng-if="isAuthenticated">
<hr><div class='well'><h4>Leave a Comment:</h4><form class='commentform' role='form'>
<div class='form-group'><textarea class='form-control' rows='3' ng-model='allBlogs[i].comment'></textarea></div><button type='submit' class='btn btn-primary' ng-click='postComment(i)'>Submit</button></form></div><hr>
</div>

<div class='comment-section' ng-if="blog.comments">
<div class='media' ng-repeat="comment in blog.comments"><a class='pull-left' href='#'><img class='media-object' src='http://placehold.it/64x64' alt=''></a><div class='media-body'><h4 class='media-heading'>{{comment.userName}}<small> {{comment.createdDate | date:'MMMM dd, yyyy @ hh:mm a'}}</small></h4>{{comment.content}}</div></div>
</div>

</div>
