<html lang="en" ng-app='blogViewer'>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CMAD Blog site - Blog Now !</title>

    <!-- Bootstrap Core CSS -->
    <link href="/resources/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Third party css -->
    <link href="/resources/css/jquery.tagsinput.min.css" rel="stylesheet">
    <!-- <link href="https://cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.css" rel="stylesheet"> -->
    
    <link href="/resources/css/font-awesome.min.css" rel="stylesheet">
    
    <link href="/resources/css/jquery-ui-autocomplete.css" rel="stylesheet">
    
    <link href="/resources/css/ng-tags-input.bootstrap.min.css" rel="stylesheet">
    <link href="/resources/css/ng-tags-input.min.css" rel="stylesheet">
    

    <!-- Custom CSS -->
    <link href="/resources/css/blog-post.css" rel="stylesheet">
    <link href="/resources/css/fav.css" rel="stylesheet">
    <link href="/resources/css/blog-list.css" rel="stylesheet">
    <link href="/resources/css/link-top.css" rel="stylesheet">
    
    <!-- jQuery -->
    <!-- <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script> -->
    <script src="/resources/js/jquery.min.js"></script>
    
    <script src="/resources/js/jquery-ui.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/resources/js/bootstrap.min.js"></script>
    
    <!-- Other third party -->
    <script src="/resources/js/jquery.tagsinput.min.js"></script>
    <!-- <script src="/resources/js/ng-tags-input.min.js"></script> -->
    
    <!-- Bootstrap taginput -->
	<!-- <script src="https://cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.js"></script> -->
    
    <!-- Angularjs -->
    <script src="/resources/js/angular.js"></script>
	<script src="/resources/js/angular-route.js"></script>
	<script src="/resources/js/ngStorage.min.js"></script>

	<script src="/resources/js/app.js"></script>
	<script src="/resources/js/authentication.service.js"></script>
	<script src="/resources/js/blogService.js"></script>
	<script src="/resources/js/userService.js"></script>
	<script src="/resources/js/nav-controller.js"></script>
	<script src="/resources/js/LoginController.js"></script>
	<script src="/resources/js/ProfileController.js"></script>
	<script src="/resources/js/MainController.js"></script>
	<script src="/resources/js/NewBlogController.js"></script>
	<script src="/resources/js/RegistrationController.js"></script>
    
    <!-- Application specific -->
    <script src ="/resources/js/jsonutil.js"></script>
    <script src ="/resources/js/link-top.js"></script>

</head>
<!-- Section to populate page info -->
<body>
	<div ng-controller='navcontroller'>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#!/home">CMAD Blog site</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div ng-if="isAuthenticated">
	            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                <ul class="nav navbar-nav">
	                	<li ng-class="{ active: isActive('/home')}"><a href="#!/home">Home</a></li>
	                	<li ng-class="{ active: isActive('/interests')}"><a href="#!/interests">My Interests</a></li>
	                	<li ng-class="{ active: isActive('/myblogs')}"><a href="#!/myblogs">My Blogs</a></li>
	                    <li ng-class="{ active: isActive('/newblog')}"><a href="#!/newblog">New Blog</a></li>
	                    <li ng-class="{ active: isActive('/search')}"><a href="#!/search">Search results</a></li>
	                    <li ng-class="{ active: isActive('/profile')}" class='dropdown'>
	                    	<a class='dropdown-toggle' data-toggle='dropdown'>{{user.firstName}} {{user.lastName}}<span class='caret'></span></a>
	                    	<ul class='dropdown-menu'>
	                    		<li><a href='#!/profile'>Profile Details</a></li>
	                    		<li><a href='#!/home' ng-click='logout()'>Logout</a></li>
	                    	</ul>
	                    </li>
	                </ul>
	            </div>
            </div>
            <div ng-if="!isAuthenticated">
	            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                <ul class="nav navbar-nav">
	                	<li ng-class="{ active: isActive('/home')}"><a href="#!/home">Home</a></li>
	                    <li ng-class="{ active: isActive('/search')}"><a href="#!/search">Search results</a></li>
	                    <li ng-class="{ active: isActive('/login')}"><a href="#!/login">Login</a></li>
	                    <li ng-class="{ active: isActive('/register')}"><a href="#!/register">Register</a></li>
	                </ul>
	            </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    </div>

    <!-- Page Content -->
    <div class="container" ng-controller='MainController'>

        <div class="row">
        
        	<!-- Blog Post Content Column -->
            <div class="col-lg-8 content-div" ng-view>

            </div>
            
            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Blog Search</h4>
                    <div class="input-group">
                        <input type="text" class="form-control" id="searchText" placeholder="search by tag or title">
                        <span class="input-group-btn">
                            <button class="btn btn-default" id="btn-blogsearch" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>
				
				<div ng-if="isAuthenticated">
	                <!-- Blog Categories Well -->
	                <div id="favBlogs" class="well">
	                    <h4>Favorite Blogs</h4>
	                    <div class="row">
	                        <div class="col-lg-12">
	                            <ul class="list-unstyled">
	                            </ul>
	                        </div>
	                    </div>
	                    <!-- /.row -->
	                </div>
                </div>

            </div>
            
            <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>

        </div>
        <!-- /.row -->

        <hr>
        
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; 2017</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

</body>

</html>
