<div id="loginbox" style="margin-top: 10px;"
	class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
	<div class="panel panel-info">
		<div class="panel-heading">
			<div class="panel-title">Sign In</div>
		</div>

		<div style="padding-top: 30px" class="panel-body">

			<div ng-show='error' class="alert alert-danger col-sm-12">{{error}}</div>
			<div ng-show='message' class="alert alert-success col-sm-12">{{message}}</div>	
				
			<form name="loginform" class="form-horizontal" role="form">

				<div style="margin-bottom: 25px" class="input-group" ng-class="{ 'has-error': loginform.$submitted && loginform.username.$invalid }">
					<span class="input-group-addon"><i
						class="glyphicon glyphicon-user"></i></span> <input id="login-username"
						type="text" class="form-control" name="userName" value=""
						placeholder="username" ng-model="userName" autofocus>
				</div>

				<div style="margin-bottom: 25px" class="input-group" ng-class="{ 'has-error': loginform.$submitted && loginform.password.$invalid }">
					<span class="input-group-addon"><i
						class="glyphicon glyphicon-lock"></i></span> <input id="login-password"
						type="password" class="form-control" name="password"
						placeholder="password" ng-model="password" ng-keyup="$event.keyCode == 13 && login()">
				</div>

				<div style="margin-top: 10px" class="form-group">
					<!-- Button -->

					<div class="col-sm-12 controls">
						<button ng-click="login()" class="btn btn-success">Login</button>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12 control">
						<div
							style="border-top: 1px solid #888; padding-top: 15px; font-size: 85%">
							Don't have an account! <a href="#!/register">
								Sign Up Here </a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
