<script>
$("#tags").tagsInput({
	height:'43px',
	width:'auto',
	autocomplete_url:'/api/blog/tags',
	autocomplete:{selectFirst:true,width:'100px',autoFill:true}
});
</script>
            <!-- New blog -->
	        	<div class="panel panel-info">
					<div class="panel-heading">
						<div class="panel-title">Post new blog</div>
					</div>
					<div class="panel-body">
						<form id="newblogform" class="form-horizontal" role="form">
	
							<div id="newblogform-alert" style="display: none"
								class="alert alert-danger">
								<p>Error:</p>
								<span></span>
								<ul></ul>
							</div>
							<div ng-show="message" class="alert alert-success">
								<p>{{message}}</p>
							</div>
							
							<div class="form-group">
								<label for="title" class="col-md-2 control-label">Title</label>
								<div class="col-md-10">
									<input type="text" class="form-control" id="newBlogTitle" name="title"
										placeholder="Title" ng-model="title">
								</div>
							</div>
							<div class="form-group">
        						<label for="tags" class="col-md-2 control-label">Tags</label>
        						<div class="col-md-10">
            						<input type="text" class="form-control" id="tags" name="tags" value="" data-role="tagsinput" 
            							placeholder="Add a tag" ng-model="tags"/>
        						</div>
    						</div>
	
							<div class="form-group">
								<label for="content" class="col-md-2 control-label">Content</label>
								<div class="col-md-10">
									<textarea class="form-control" rows="10" name="content" id="newBlogContent" ng-model="content"></textarea>
								</div>
							</div>
							
							<div id="form-action-btns" class="form-group">
								<!-- Button -->
								<div class="col-md-offset-3 col-md-9">
									<button id="btn-post-blog" type="button" class="btn btn-info" ng-click="postBlog()">
										<i class="icon-hand-right"></i> &nbsp Post
									</button>
									<!-- <button id="btn-cancel-newblog" type="button" class="btn btn-info">
										<i class="icon-hand-right"></i> &nbsp Cancel
									</button> -->
								</div>
							</div>
	
						</form>
					</div>
				</div>