        	<!-- Profile details -->
	        	<div class="panel panel-info">
					<div class="panel-heading">
						<div class="panel-title">Your Profile Details</div>
					</div>
					<div class="panel-body">
						<form id="signupform" class="form-horizontal" role="form">
	
							<div ng-show="formHasErrors" class="alert alert-danger">
								<p>{{errormsg}}</p>
								<span></span>
								<ul>
									<li ng-repeat="error in errors">
										{{error}}
									</li>
								</ul>
							</div>
							
							<div ng-show="message" class="alert alert-success">
								<span>{{message}}</span>
							</div>
							
							<div class="form-group">
								<label for="firstName" class="col-md-3 control-label">First
									Name*</label>
								<div class="col-md-6">
									<input type="text" class="form-control" id="firstName" name="firstName"
										placeholder="First Name" ng-model="user.firstName">
								</div>
							</div>
							<div class="form-group">
								<label for="lastName" class="col-md-3 control-label">Last
									Name</label>
								<div class="col-md-6">
									<input type="text" class="form-control" id="lastName" name="lastName"
										placeholder="Last Name" ng-model="user.lastName">
								</div>
							</div>
	
							<div class="form-group">
								<label for="userName" class="col-md-3 control-label">Username</label>
								<div class="col-md-6">
									<input type="text" class="form-control" id="userName" name="userName"
										disabled value='{{user.userName}}'>
										<span></span>
								</div>
							</div>
							
							<div class="form-group">
								<label for="password" class="col-md-3 control-label">Password*</label>
								<div class="col-md-6">
									<input type="password" class="form-control" name="password" id="passwordVal"
										placeholder="Password" ng-model="user.password">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Confirm Password*</label>
								<div class="col-md-6">
									<input type="password" class="form-control" id="confirmpasswordVal"
										placeholder="Re-enter Password" ng-model="confirmpassword" value="*****">
								</div>
							</div>
	
							<div class="form-group">
								<label for="email" class="col-md-3 control-label">Email</label>
								<div class="col-md-6">
									<input type="text" class="form-control" id="email" name="email"
										placeholder="Email Address" ng-model="user.email">
								</div>
							</div>
	
							<div class="form-group">
								<label for="phoneNumber" class="col-md-3 control-label">Phone Number</label>
								<div class="col-md-6">
									<input type="text" class="form-control" id="phoneNumber" name="phoneNumber"
										placeholder="10 digit number" ng-model="user.phoneNumber">
								</div>
							</div>
							
							<div class="form-group">
        						<label for="areaOfInterest" class="col-md-3 control-label">Areas of Interest</label>
        						<div class="col-md-6">
        							<!-- <tags-input ng-model="user.areaOfInterest">
  										<auto-complete source="loadTags($query)"></auto-complete>
									</tags-input> -->
            						<input type="text" class="form-control" id="areaOfInterest" name="areaOfInterest" ng-model="user.areaOfInterest" data-role="tagsinput" 
            							placeholder="Add a tag"/>
        						</div>
    						</div>
	
							<div id="form-action-btns" class="form-group">
								<!-- Button -->
								<div class="col-md-offset-3 col-md-6">
									<button id="btn-updateprofile" type="button" class="btn btn-info" ng-click="updateProfile()">
										<i class="icon-hand-right"></i> &nbsp Update
									</button>
									<!-- <button id="btn-updateprofile-cancel" type="button" class="btn btn-info">
										<i class="icon-hand-right"></i> &nbsp Cancel
									</button> -->
								</div>
							</div>
	
						</form>
					</div>
				</div>