	<div class="panel panel-info">
		<div class="panel-heading">
			<div class="panel-title">Sign Up</div>
			<div
				style="float: right; font-size: 85%; position: relative; top: -10px">
				<a id="signinlink" href="#!/login">Sign In</a>
			</div>
		</div>
		<div class="panel-body">
			<form id="signupform" class="form-horizontal" role="form">

				<div ng-show="formHasErrors" class="alert alert-danger">
					<p>{{signupalertp}}</p>
					<span></span>
					<ul>
						<li ng-repeat="error in errors">
							{{error}}
						</li>
					</ul>
				</div>
				
				<div ng-show="registrationmsg" class="alert alert-success">
					<span>{{registrationmsg}}</span>
					<span class='redirectMsg'></span>
				</div>

				<div class="form-group">
					<label for="firstName" class="col-md-3 control-label">First
						Name*</label>
					<div class="col-md-8">
						<input type="text" class="form-control" id="firstName"
							name="firstName" ng-model="firstName" placeholder="First Name">
					</div>
				</div>
				<div class="form-group">
					<label for="lastName" class="col-md-3 control-label">Last
						Name</label>
					<div class="col-md-8">
						<input type="text" class="form-control" name="lastName"
							ng-model="lastName" placeholder="Last Name">
					</div>
				</div>

				<div class="form-group">
					<label for="userName" class="col-md-3 control-label">Username*
						(Min 6 chars)</label>
					<div class="col-md-8">
						<input type="text" class="form-control" id="userName"
							name="userName" placeholder="Username for login" ng-model="userName" ng-keyup="isUserNameAvailable(userName)"> <span>{{usernameavlmsg}}</span>
					</div>
				</div>

				<div class="form-group">
					<label for="password" class="col-md-3 control-label">Password*</label>
					<div class="col-md-8">
						<input type="password" class="form-control" name="password"
							id="passwordVal" ng-model="password" placeholder="Password">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">Confirm Password*</label>
					<div class="col-md-8">
						<input type="password" class="form-control"
							id="confirmpasswordVal" ng-model="confirmpassword" placeholder="Re-enter Password">
					</div>
				</div>

				<div class="form-group">
					<label for="email" class="col-md-3 control-label">Email</label>
					<div class="col-md-8">
						<input type="text" class="form-control" name="email"
							ng-model="email" placeholder="Email Address">
					</div>
				</div>

				<div class="form-group">
					<label for="phoneNumber" class="col-md-3 control-label">Phone
						Number</label>
					<div class="col-md-8">
						<input type="text" class="form-control" name="phoneNumber"
							ng-model="phoneNumber" placeholder="10 digit number">
					</div>
				</div>

				<div class="form-group">
					<label for="areaOfInterest" class="col-md-3 control-label">Areas
						of Interest</label>
					<div class="col-md-8">
						<input type="text" class="form-control" id="areaOfInterest"
							name="areaOfInterest" value="" data-role="tagsinput"
							placeholder="Add a tag" />
					</div>
				</div>
				<!-- <div class="form-group">
							<label for="areaOfInterest" class="col-md-3 control-label">Areas of Interest</label>
							<div class="col-md-8">
								<select class="form-control" id="areaOfInterest" name="areaOfInterest">
								</select>
							</div>
						</div> -->

				<div class="form-group">
					<!-- Button -->
					<div class="col-md-offset-3 col-md-12">
						<button id="btn-signup" type="button" class="btn btn-info" ng-click="register()">
							<i class="icon-hand-right"></i> &nbsp Sign Up
						</button>
					</div>
				</div>

			</form>
		</div>
	</div>
